<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="google-site-verification" content="9KoCKUpY36uILEKyBBaz8yp2LXCa8tVZpsyA3ykj-Rk">
    <meta name="msvalidate.01" content="C57788DFF6C31F0D9AE1B1C480E8D8CA">
    <meta name="p:domain_verify" content="63acacd0887fa735855f67e4eae0a7e4">
    <meta name="apple-mobile-web-app-title" content="Xian Bridal">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@XianBridal">
    <meta name="twitter:creator" content="@XianBridal">
    <meta name="twitter:title" content="Xian Bridal: Auckland based bridal design">
    <meta name="twitter:description" content="Wedding Gowns, Bridesmaid Dresses, Flower Girl Dresses, Bridal Accessories, Veils and Tiaras">
    <meta name="twitter:image" content="<%= IMAGES_CDN_DOMAIN %>/background/gowns2.webp">
    <meta property="og:title" content="Xian Bridal: Auckland based bridal design">
    <meta property="og:image" content="<%= IMAGES_CDN_DOMAIN %>/background/gowns2.webp">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= STATIC_CDN_DOMAIN %>/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= STATIC_CDN_DOMAIN %>/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= STATIC_CDN_DOMAIN %>/favicon/favicon-16x16.png">
    <link rel="manifest" href="<%= STATIC_CDN_DOMAIN %>/favicon/site.webmanifest">
    <%= htmlWebpackPlugin.options.head %>
  </head>
  <body>
    <style type="text/css">
      @font-face {
        font-family: 'Playfair Display SC';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(<%= STATIC_CDN_DOMAIN %>/fonts/playfair.700.woff2) format('woff2'),
          url(<%= STATIC_CDN_DOMAIN %>/fonts/playfair.700.woff) format('woff');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
      }
      @font-face {
        font-family: 'Alegreya Sans SC';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(<%= STATIC_CDN_DOMAIN %>/fonts/alegreya.400.woff2) format('woff2'),
          url(<%= STATIC_CDN_DOMAIN %>/fonts/alegreya.400.woff) format('woff');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
      }
      @font-face {
        font-family: 'PT Serif';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(<%= STATIC_CDN_DOMAIN %>/fonts/pt.400.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
      body {
        background: #444;
        margin: 0;
        padding: 0;
      }
      h2, h3, h4, h5, h6 {
        font-weight: inherit;
        font-size: inherit;
        margin: inherit;
        display: inherit;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
      }
      input {
        -webkit-tap-highlight-color: rgba(242,242,242,0.1);
      }
      a:link,
      a:active,
      a:visited {
        color: inherit;
      }
    </style>

    <div id="app"><%= htmlWebpackPlugin.options.app %></div>
    <%= htmlWebpackPlugin.options.portal %>

    <script>
      window.env = {
        IMAGES_CDN_DOMAIN: '<%= IMAGES_CDN_DOMAIN %>',
        STATIC_CDN_DOMAIN: '<%= STATIC_CDN_DOMAIN %>',
      }
    </script>

    <% htmlWebpackPlugin.options.files.css.forEach(function(href) { %>
      <link href="<%= href %>" rel="stylesheet">
    <% }) %>
    <% htmlWebpackPlugin.options.files.js.forEach(function(src) { %>
      <script src="<%= src %>"></script>
    <% }) %>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9WZGHKT91D"></script>
    <script>
      setTimeout(function() {
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-M60CFNHRLK');
        gtag('config', 'AW-980617762');
      }, 0)
    </script>
  </body>
</html>
